<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Generation</key>
	<array>
		<string>AMPA receptor trafficking</string>
		<string>Cofilin and actin dynamics </string>
	</array>
	<key>Stabilization</key>
	<array>
		<string>Myosin IIb</string>
		<string>Rho-Rock cascade</string>
		<string>Rac-PAK cascade</string>
		<string>Neural cadherins</string>
		<string>Integrin receptors </string>
	</array>
	<key>Consolidation</key>
	<array>
		<string>Local protein synthesis</string>
		<string>Synapse-to-nucleus signaling </string>
		<string>Soma-to-nucleus signaling </string>
		<string>Increased calcium levels</string>
	</array>
	<key>Maintenance</key>
	<array>
		<string>PKMZ</string>
	</array>
</dict>
</plist>
