<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Expert mode? You are an ambitious one! First question: Which of the following therapeutic techniques can be explained by classical conditioning principles?

A. Systematic desensitization and token economies
B. Systematic desensitization and flooding
C. Modeling and flooding</string>
	<string>Question 2: The tendency to attribute your successes to dispositional factors and your failures to situation factors is called the:

A. Self-serving bias
B. Self-fulfilling prophecy
C. Fundamental attribution error</string>
	<string>Question 3: Pandamonium&apos;s classmates enjoy being with her because she is always sociable, easygoing, and lively. On Eysenck&apos;s basic personality dimensions, she would be classified as:

A. Extroverted stable
B. Intrinsically motivated
C. Extroverted motivated</string>
	<string>Question 4: The inability to recognize a once-familiar face, while still being able to accurately describe elements of the face, is a characteristic symptoms of:

A. Transcortical aphasia
B. Amnesia
C. Prosopagnosia</string>
</array>
</plist>
