<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>So we begin...Question 1: Critics have argued that projective tests are too:

A. Quantitative
B. Brief
C. Subjective</string>
	<string>Question 2: The sharing of information about oneself is referred to as: 

A. Self-disclosure
B. Social exchange
C. Communal sharing
</string>
	<string>Question 3: According to Sigmund Freud, a child who grabs food from another child because of hunger is driven by:

A. The ego
B. The id
C. The superego</string>
	<string>Question 4: Manic episodes are a defining feature of which of the following disoders? 

A. Major depression
B. Autism spectrum
C. Bipolar</string>
</array>
</plist>
