<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Let&apos;s test those dendritic spines! First question: Charles Scott Sherrington proposed that rapid stimulation of a specific synapse is likely to produce a cumulative effect in the postsynaptic cell because of:

A. Neuromodulation
B. Temporal summation
C. Spatial summation</string>
	<string>Question 2: Damaging the suprachiasmatic nucleus of the hypothalamus in rats will: 

A. Impair the ability to acquire spatial information
B. Reduce the threshold for pain resulting from injury to the limbs
C. Interfere with the biological clock that is synchronized with light</string>
	<string>Question 3: A neuron that receives excitation from other neurons and conducts impulses from its soma in the spinal cord to muscle or gland cells is called a:

A. Schwann cell
B. Motor neuron
C. Sensory neuron </string>
	<string>Question 4: Damage to which area of the brain leads to a decrease in physically aggressive behavior and social rank?

A. Amygdala
B. Hippocampus
C. Lateral hypothalamus</string>
</array>
</plist>
