<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Here&apos;s hoping for some retrieval errors! First question: The visual pathway that tells us what we are looking at is  called the: 

A. Ventral stream
B. Dorsal stream
C. Spinothalamic tract</string>
	<string>Question 2: Which of the following learning theorists first demonstrated that a neutral stimulus could acquire the ability to evoke a response originally attributed to another stimulus?

A. E.L. Thorndike
B. Ivan Pavlov
C. B.F. Skinner</string>
	<string>Question 3: The transformation of energy into electrical impulses is: 

A. Transduction
B. A difference threshold
C. Neural processing</string>
	<string>Question 4: The action potential is triggered at which of the following parts of a neuron?

A. Dendrite
B. Spine
C. Axon hillock</string>
</array>
</plist>
